@import "tailwindcss";


body {
  background-color: #264653;
  color: #ffffff;
}

button {
  background-color: var(--green);
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  --green: #2A9D8F;
  --yellow: #E9C46A;
  --orange: #F4A261;
  --red_orange: #E76F51;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}