@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: aliceblue;
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}